-- ============================================
-- SCRIPT PARA CREAR BASE DE DATOS BD_SCAR
-- Sistema de Control de Asistencia y Registros
-- ============================================

USE [master]
GO

CREATE DATABASE [BD_SCAR]


ALTER DATABASE [BD_SCAR] SET COMPATIBILITY_LEVEL = 160
GO

USE [BD_SCAR]
GO

-- TABLA: AreaTrabajo
CREATE TABLE [dbo].[AreaTrabajo](
	[id_AreaTrabajo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ubicacion] [varchar](100) NULL,
	[estado] [bit] NOT NULL,
	PRIMARY KEY CLUSTERED ([id_AreaTrabajo] ASC)
) ON [PRIMARY]
GO

-- TABLA: Empleado
CREATE TABLE [dbo].[Empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[id_area] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[cedula] [varchar](10) NOT NULL,
	[correo] [varchar](100) NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [bit] NOT NULL,
	PRIMARY KEY CLUSTERED ([id_empleado] ASC)
) ON [PRIMARY]
GO

-- TABLA: Rol
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	PRIMARY KEY CLUSTERED ([id_rol] ASC)
) ON [PRIMARY]
GO

-- TABLA: Usuario
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[contrasena] [varchar](100) NOT NULL,
	PRIMARY KEY CLUSTERED ([id_usuario] ASC)
) ON [PRIMARY]
GO

-- TABLA: registro
CREATE TABLE [dbo].[registro](
	[id_registro] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[tipoRegistro] [varchar](50) NULL,
	CONSTRAINT [PK_registro_1] PRIMARY KEY CLUSTERED ([id_registro] ASC)
) ON [PRIMARY]
GO

-- CREAR RELACIONES
ALTER TABLE [dbo].[Empleado] ADD CONSTRAINT [FK_area_empleado] FOREIGN KEY([id_area]) REFERENCES [dbo].[AreaTrabajo] ([id_AreaTrabajo])
GO

ALTER TABLE [dbo].[registro] ADD CONSTRAINT [FK_EMPLEADO_REGISTRO] FOREIGN KEY([id_empleado]) REFERENCES [dbo].[Empleado] ([id_empleado])
GO

ALTER TABLE [dbo].[Usuario] ADD CONSTRAINT [FK_USUARIO_EMPLEADO] FOREIGN KEY([id_empleado]) REFERENCES [dbo].[Empleado] ([id_empleado])
GO

ALTER TABLE [dbo].[Usuario] ADD CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([id_rol]) REFERENCES [dbo].[Rol] ([id_rol])
GO

USE [master]
GO

PRINT 'Base de Datos BD_SCAR creada exitosamente'
GO